@charset "UTF-8";

$terminal-font:      'Fixedsys500c', cursive;

$electron-black:         #000000;
$electron-cyan:          #2DFFFC;
$electron-magenta:       #F929F9;
$electron-blue:          #0B24FA;
$electron-yellow:        #FDF600;
$electron-green:         #2AFB2E;
$electron-white:         #FFFFFF;