@charset "UTF-8";

@font-face {
    font-family: 'Fixedsys500c';
    src: url('../fonts/Fixedsys500c.eot?v2');
    src: url('../fonts/Fixedsys500c.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Fixedsys500c.woff?v2') format('woff'),
         url('../fonts/Fixedsys500c.ttf?v2') format('truetype'),
         url('../fonts/Fixedsys500c.svg#fixedsys') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

// Init ------------------------------------
@import 'electron2015-mixins';
@import 'electron2015-variables';
@import 'bootstrap';

// LAYOUT ----------------------------------
@import 'layout/typography';
@import 'layout/images';
@import 'layout/block';
@import 'layout/form';
@import 'layout/button';