body, html {
    background-color: #000000;
    overflow-x: auto;
}

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    margin: auto;
}

.row {
    margin-top: 30px;
}

.bar {
    height: 100px;
    width: 9999px;
    margin-left: -2000px;
    border: none;
    margin-bottom: -75px;
    margin-top: 50px;
    z-index: -10;
}

.header {
    height: 200px;
    padding-top: 70px;
    font-size: 48px;
    line-height: 50px;
}

a.header, a.header:visited {
    color: white;
}

a.header:hover {
    color: black;
    background-color: white;
}

.dotted {
    border-top: 3px dashed white;
    margin: 0;
    padding: 0;
    height: 0px;
}

huge {
    font-size: 150px;
    padding-top: 200px;
}

pink {
    color: #f929f9;
}

.pink {
    background-color: #f929f9;
}

.green {
    background-color: #2afb2e;
}

.bgdarkblue {
    background-color: #0b24fa;
}

.blue {
    color: #0b24fa;
}

.bglightblue {
    background-color: #2dfffc;
    margin: 16px;
}

.contactinfo div {
}

.contactinfo p {
    padding-left: 16px;
    padding-right: 16px;
}

.contactinfo input {
    width: 100%;
    margin-right: 16px;
}

.uncentered {
    position: absolute;
    width: 100%;
    height: 100%;
    right: -30px;
    bottom: -30px;
    background-color: #0b24fa;
    z-index: 0;
}

.rel {
    position: relative;
}

.ontop {
    z-index: 10;
}

.followus .pinkborder {
    padding: 30px;
    border: 6px solid #fe54fe;
}

.question h1 {
    font-size: 72px;
    color: #020202;
}

.no-margin-left {
    margin-left: 0 !important;
    margin-right: 16px;
}

.question p {
    color: #020202;
    background-color: #ffffff;
    margin: 0 20px;
    padding: 0 20px;
}

.choice {
    margin: 0 20px;
    padding: 0 60px;
    color: #020202;
}

.choice input {
    margin: 20px;
}

index {
    vertical-align: super;
    font-size: 50%;
    line-height: 60%;
}

.span12 p, .span12 h1 {
    padding: 40px 40px;
}

#banner {
    margin: auto;
}

#preface {
    border-top: 3px solid #fdf500;
    border-bottom: 3px solid #fdf500;
    margin-top: 60px;
    margin-bottom: 10px;
}

#preface p {
    color: #fdf500;
    font-size: 32px;
    padding: 60px 40px;
    line-height: 42px;
}

#preface a, #preface a:visited {
    color: #fdf500;
    background-color: #black;
}

#preface a:hover {
    color: black;
    background-color: #fdf500;
}

#wall {
    display: block;
    width: 95%;
    margin: auto;
    margin-bottom: 2.5%;
}

.followus div {
}

.followus div a {
    height: 30px;
    background-color: #2afb2e;
    color: #000000;
}

@media (min-width: 1200px) {
    .container {
        width: 900px !important;
    }

    .span12 {
        width: 886px;
    }

    .span6 {
        width: 434px;
    }

    .span4 {
        width: 384px;
    }

    .span3 {
        width: 209px;
    }

    .span2 {
        width: 136px;
    }

    .offset2 {
        width: 136px;
    }
}