.btn {
  border: none !important;
  margin: 20px 10px;
  @media only screen and (max-width: 767px) {
    font-size: floor(($font-size-base * 0.8));
  }
}

.btn-default  {
  box-shadow: 10px 10px 0px $electron-black !important;
}

.btn-success  {
  box-shadow: 10px 10px 0px $electron-blue !important;
}