.btn {
  border: none !important;
  margin: 20px 10px;
  @media only screen and (max-width: 767px) {
    font-size: floor(($font-size-base * 0.8));
  }
}

.btn-default  {
  box-shadow: 10px 10px 0px $electron-black !important;
}

.btn-success  {
  box-shadow: 10px 10px 0px $electron-blue !important;
}

input.btn-default:active, input.btn-success:active {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 0px;
  box-shadow: none !important;
}
.btn-group:active {
  margin-top: 10px;
  margin-bottom: -10px;
  margin-left: 10px;
  margin-right: -10px;
  .btn {
    box-shadow: none !important;
  }
}
