.btn {
  border: none !important;
  margin: 20px 10px;
}

.btn-default  {
  box-shadow: 10px 10px 0px $electron-black !important;
}

.btn-success  {
  box-shadow: 10px 10px 0px $electron-blue !important;
}